body{
	background-color: #FFFFFF

}

header{
	margin: 0;
	background-color: #FFFFFF;


}

.name {

}

nav {

}

.main_content {

}

.heading {

}

.profile_pic {
	height: 300px;
	width: 200px;
	

}

.about_me {

}

aside {
	background-color: #FFFFFF
	border:1px #DCDCDC;

}

.connect {

}

.icons {
	height: 50px;
	width: 50px;
	margin: 2px;

}