header{

}

.name {

}

nav {

}

.main_content {

}

.heading {

}

.profile_pic {
	height: 200px;
	width: 200px;
	clip: rect(0px 200px 200px 0px);

}

.about_me {

}

.contact {

}

.connect {

}

.icons {
	height: 50px;
	width: 50px;
	margin: 2px;

}